{% for host in groups[hdp_cluster] %}
{% if loop.first %}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{% endif %}
{{ hostvars[host].ansible_ssh_host }} {{ host }} {{ host }}.hadoopexample.com
{% endfor %}
